/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
@import url(cit-positioning.css);
@import url(cit-tables.css);
@import url(cit-colors.css);
@import url(cit-custom-new.css);
/* @import url(cit-custom.css); */
@import url(blocks.css);
@import url(cit-nodes.css);
@import url(cit-comments.css);

body {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
	}
		
#page {
	}
	#zone-user-wrapper {
		}
		#zone-user {
			padding-top: 8px;
			}
				#region-user-first {
					}
				#region-user-second {
					}
	#zone-branding-wrapper {
		}
		#zone-branding {
			padding-top: 20px;
			padding-bottom: 20px;
			}
			#region-branding {
				}
	#zone-menu-wrapper {
		background: url(../images/faux-columns-mobile-menu.png) repeat-y 50% 0;
		}
		#zone-menu {
			}
			#region-menu {
				}
				.region-menu-inner {
					padding-top: 3pt;;
					padding-left: 4pt;
					padding-right: 4pt;
					padding-bottom: 4pt;
					}			
			#region-menu a {
				font-weight: bold;
				color: #F9F9F9;
				text-decoration: none;
				font-family: Verdana, Arial, Helvetica, "Nimbus Sans L", sans-serif;
				font-size: 12px;
				}
		    #region-menu li:hover,
			#region-menu a:focus,
			#region-menu a:hover,
			#region-menu a:active,
			#region-menu li li {
				color:  #FF9442;
				}
				
			#region-search {
				}
				.region-search-inner {
					padding-top: 4pt;;
					padding-left: 4pt;
					padding-right: 4pt;
					padding-bottom: 5pt;
					float: right;
					}	
	#zone-header-wrapper {
		}
		#zone-header {
			}
			#region-header-first {
				}
			#region-header-second { 
				}
	#zone-preface-wrapper {
		}
		#zone-preface {
			}
			#region-preface-first {
				}
			#region-preface-second {
				}
			#region-preface-third {
				}
	#zone-content-wrapper {
		}
	    /* This is the background to the interior content zone*/				
		#zone-content {
			}
			#breadcrumb {
				}
			#messages {
				}
			#region-content {
				}
				/* The --10 is added to the selectors on the search results page */				
				.region-content .region-inner {
					margin: 10px;
					padding: 10pt;
					font-size: 1.0em;
					line-height: 1.2em;
					}
			/* This is the padding around the sidebar-first content */
			.region-sidebar-first {
				}
				/* This is the actual sidebar-first content */
				.region-sidebar-first .region-inner {
					margin: 0px;
					padding-top: 10px;
					padding-right: 0px;
					padding-bottom: 10px;
					padding-left: 10px;					
					font-size: 0.8em;
					line-height: 1.2em;
					}
			/* This is the padding around the sidebar-second content */
			.region-sidebar-second {
				}
				/* This is the actual sidebar-second content */
				.region-sidebar-second .region-inner {
					margin: 0px;
					padding-top: 10px;
					padding-right: 10px;
					padding-bottom: 10px;
					padding-left: 0px;
					font-size: 0.8em;
					line-height: 1.2em;
					}
	#zone-postscript-wrapper {
		}
		#zone-postscript {
			}
			#region-postscript-first {
				}
			#region-postscript-second {
				}
			#region-postscript-third {
				}
			#region-postscript-fourth {
				}
	#zone-footer-wrapper {
			}
		#zone-footer {
			}
			#region-footer-first {
			}
				.region-footer-first-inner {
					padding-top: 10pt;;
					padding-left: 4pt;
					padding-right: 4pt;
					padding-bottom: 10pt;
					color: #F9F9F9;
					font-weight: bold;
					text-decoration: none;
					font-family: Verdana, Arial, Helvetica, "Nimbus Sans L", sans-serif;
					font-size: 11px;
					}
					
				#region-footer-first a {
					color: #F68428;
					}
			#region-footer-second {
			}				
				.region-footer-second-inner, #region-footer-second a {
					padding-top: 10pt;;
					padding-left: 4pt;
					padding-right: 4pt;
					padding-bottom: 10pt;
					color: #F68428;
					font-weight: bold;
					text-decoration: none;
					font-family: Verdana, Arial, Helvetica, "Nimbus Sans L", sans-serif;
					font-size: 11px;	
					}
				#region-footer-second a {
					color: #F68428;
					}
.flag-action:before {
content: url(../images/pin-small.png);
}
.unflag-action:before {
content: url(../images/unpin-small.png);
}
